<div class="container">
  <h2>You have received the following coins:</h2>
 <table class="table table-bordered table-dark">
   <thead>
     <tr>
       <td>1c</td>
       <td>5c</td>
       <td>10c</td>
       <td>25c</td>
       <td>50c</td>
       <td>1$</td>
     </tr>
   </thead>
   <tbody>
     <tr>
        <td *ngFor="let i of arr" [ngClass]="{'bg-success': i > 0}">{{i}}</td>
     </tr>
   </tbody>
 </table>
  <div class="form-group">
    <label>Put Money</label>
    <input class="form-control" type="number" step="0.1" [min]="pr.value" [(ngModel)]="money" name="mo" #mo="ngModel">
  </div>
  <div class="form-group">
    <label>Put Price</label>
    <input class="form-control" type="number" step="0.1" min="0" [max]="mo.value" [(ngModel)]="price" name="pr" #pr="ngModel">
  </div>

  <button class="btn btn-primary" type="button" (click)="getChange(money, price)">Get Change</button>
</div>